


{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">

<body>
<div class="container">
    <div class="nav">
        <div class="logo">
            <p>
                Ricardo Gonçalves Portfolio
            </p>
        </div>
        <div class="nav_links_area">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about_me' %}">About Me</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'web_programming' %}">Web Programming</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'about_this_website' %}">About this Website</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </div>
    <div class="hero">
        <p>
            Hello Welcome to My Online PortFolio

        </p>

    </div>
    <div class="article">
        <p> I didn't know I liked coding till I've started doing it.
            This all started in High School, my classmates always told me that the programing class boosted the overall ranking in the students cause it was easy. So I did chosse it as one of my classes, at the start I was really engaged into it, esspecially on objects programing, and soon after I was helping the teacher and classmates beacuse I was one of the only ones who could read the log errors and fix the problem and I enjoyed it because i always saw coding as solving a puzzle.

            When im not coding im usually cycling or playing video games, if it is summer im probably at some festival
        </p>
    </div>
    <div class="footer">
        <p>
            contact: ricardogoncalves126@gmail.com
        </p>
        <p>
            Author: Ricardo Gonçalves
        </p>
        <p>
            College Year: 2º
        </p>
        <p>
            University: Universidade Lusófona Humanidades e Tecnologias
        </p>
        <p>
            Ricardo Gonçalves
        </p>
    </div>
</div>
</body>
