
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/web_programming.css' %}">

<body>
<div class="container">
    <div class="nav">
        <div class="logo">
            <p>
                Ricardo Gonçalves Portfolio
            </p>
        </div>
        <div class="nav_links_area">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about_me' %}">About Me</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'web_programming' %}">Web Programming</a>
            <a href="{% url 'blog' %}">Blog</a>
            <a href="{% url 'about_this_website' %}">About this Website</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </div>

    <div class="quiz">
        <h1>Web Programming Quiz</h1>
        {% load static %}
        <img src="/static/portfolio/images/my_graph.png">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}


            <input type="submit" value="Submit" class="btn btn-success" >
        </form>
    </div>

    <div class="labs">
        <h1>Check out my studys on web programming</h1>

        {% load static %}
        <div class="labs_images">
        <a href="https://github.com/DrAlexWild/pw-labs-RicardoGoncalves-a22005012"><img src="/static/portfolio/images/git_labs.PNG" ></a>
        <a href="https://a22005012-pw-lab1.herokuapp.com/"><img src="/static/portfolio/images/study_labs.PNG" ></a>
        </div>
    </div>

    <div class="footer">
        <p>
            contact: ricardogoncalves126@gmail.com
        </p>
        <p>
            Author: Ricardo Gonçalves
        </p>
        <p>
            College Year: 2º
        </p>
        <p>
            University: Universidade Lusófona Humanidades e Tecnologias
        </p>
        <p>
            Ricardo Gonçalves
        </p>
    </div>
</div>
</body>
