<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/web_studies.css' %}">

    <script>
    function get_name() {
      const x = document.getElementById("result_name");
      x.innerHTML = String(document.getElementById('name_field').value)
    }
    </script>

    <script>
        function get_random_joke(){

const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': '37c02cdfd6mshdf3008d2ab53768p188854jsna994e5734add',
		'X-RapidAPI-Host': 'dad-jokes.p.rapidapi.com'
	}
};

fetch('https://dad-jokes.p.rapidapi.com/random/joke', options)
	.then(response => response.json())
	.then
	(data =>
	    {
	     const joke = data;
	     document.getElementById('setup').innerHTML = String(data.body[0].setup);
        document.getElementById('punchline').innerHTML = String(data.body[0].punchline);
	    }

	);

}
    </script>

    <script>
    let counter = 0;
    function count() {
    document.getElementById('counter_display').innerHTML = ++counter;}

    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('counter_button').onclick = count;
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function()
    {
        document.querySelectorAll(".color_button").forEach(function(button)
        {
            button.onclick = function() {
            document.querySelector("#color_changer").style.color = button.dataset.color;
        }
    });
    });
</script>

</head>
<body>
<div class="container">
    <h1>web_studies</h1>
    <h2>Header</h2>
    <div class="head_subject">
        <pre>
head:
% load static %
>link rel="stylesheet"
href="{% static 'portfolio/css
/web_studies.css' %}"<
        </pre>
    </div>
    <h2>Grid</h2>
    <div class="grid_subject">
        <div class="css">
            <h3>Css</h3>
            <pre>
                .grid {
display:grid;
grid-template-areas:
'section_0 section_0 section_0'
'section_1 section_1 section_2'
'section_1 section_1 section_3';
gap:20px;
padding:5px;

background-color:grey;
width:auto;
height:400px;
}

.section_0 {
grid-area: section_0;
background-color:red;
}

.section_1 {
grid-area: section_1;
background-color:yellow;
}

.section_2 {
grid-area: section_2;
background-color:purple;
}

.section_3 {
grid-area: section_3;
background-color:green;
}
            </pre>
        </div>
        <div class="html">
            <h3>Html</h3>
            <pre>
div class="grid">
    div class="section_0">section_0/div
    div class="section_1">section_1/div
    div class="section_2">section_2/div
    div class="section_3">section_3/div
/div>
            </pre>
        </div>
    </div>
    <div class="grid">
        <div class="section_0">section_0</div>
        <div class="section_1">section_1</div>
        <div class="section_2">section_2</div>
        <div class="section_3">section_3</div>
    </div>
    <h1>Flex</h1>
    <div class="flex_subject">
        <div class="flex_css">
            <pre>
.flex_box{
display:flex;
flex-direction:row;
flex-wrap:wrap;
background-color:grey
}

.flex_box *{
background-color:blue;
padding:20px;
margin:10px;
}
            </pre>
        </div>
        <div class="flex_html">
            <pre>
div class="flex_box"
    div class="item_0">item_0/div
    div class="item_1">item_1/div
    div class="item_2">item_2/div
    div class="item_3">item_3/div
/div
            </pre>
        </div>
    </div>
    <div class="flex_box">
        <div class="item_0">item_0</div>
        <div class="item_1">item_1</div>
        <div class="item_2">item_2</div>
        <div class="item_3">item_3</div>
    </div>
    <h1>Responsive</h1>
    <div class="responsive_subject">
        <p>
>meta name="viewport" content="width=device-width, initial-scale=1.0"<
        </p>
        <pre>
* {
  box-sizing: border-box;
}

pre {
word-break: break-all;
}
        </pre>
    </div>
    <h1>Forms</h1>
    <div class="forms_subject">
        <div class="classic_form">
        <h2>Classic Form</h2>
            <pre>
form action="" method="get">
    {% csrf_token %}
    label for="fname">First name:/label
    input type="text" id="fname" name="fname" value="John">
    input type="submit" value="Submit"
/form>
            </pre>
            <form action="" method="get">
                {% csrf_token %}
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="javascript_form">
            <h2>JavaScript Form</h2>
            <pre>
div class="java_form">
    input type="text" id="name_field" value="John"
    button onclick="get_name()">press /button
    p id="result_name">empty /p
/div>

script>
function get_name() {
const x = document.getElementById("result_name");
x.innerHTML = String(document.getElementById('name_field').value)
}
/script>
            </pre>
            <div class="java_form">
                <input type="text" id="name_field" value="John"><br>
                <button onclick="get_name()">press</button>
                <p id="result_name">empty</p>
            </div>
        </div>
        <div class="django_forms">
            <h1>Django models form, to create entity</h1>
            <pre>
class BlogPostForm(ModelForm):
image = forms.ImageField(required=False)
class Meta:
    model = Blog_Post
    fields = '__all__'
    # texto a exibir junto à janela de inserção
    labels = {
        'autor': 'Author',
        'data': 'Data',
        'titulo': 'Title',
        'descricao': 'Description',
        'image': 'Image',
    }

def web_studies_view(request):
    form = BlogPostForm(request.POST or None, request.FILES)
    if form.is_valid():
        #form.save() commented to disable the creation of entities
        return HttpResponseRedirect(reverse('web_studies'))

    context = {'form': form}
    return render(request, 'portfolio/web_studies.html', context)

            </pre>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Gravar" class="btn btn-success" >
            </form>
        </div>
    </div>
    <div class="models">
        <h1>Models</h1>
        <pre>
class Language(models.Model):
    nome = models.CharField(max_length=60)
    ano = models.IntegerField()
    descricao = models.TextField(max_length=2000)
    def __str__(self):
        return self.nome[:50]

context = {'form': form,
               'languages': Language.objects.all()}

{% for language in languages %}
    div class="language">
        h3{{language.nome}}/h3
        pre{{language.descricao}} {{language.ano}}
    /pre
    /div
{% endfor %}

        </pre>
        <div class="languages">
            <p>Cycling through 2 entities</p>
            {% for language in languages %}
            <div class="language">
                <h3>{{language.nome}}</h3>
                <pre>{{language.descricao}} {{language.ano}}
            </pre>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="api">
        <h1>API</h1>
        <pre>
script>
function get_random_joke(){

    const options = {
        method: 'GET',
        headers: {
            'X-RapidAPI-Key': '37c02cdfd6mshdf3008d2ab53768p188854jsna994e5734add',
            'X-RapidAPI-Host': 'dad-jokes.p.rapidapi.com'
        }
    };
    fetch('https://dad-jokes.p.rapidapi.com/random/joke', options)
        .then(response => response.json())
        .then
        (data =>
            {
             const joke = data;
             document.getElementById('setup').innerHTML = String(data.body[0].setup);
            document.getElementById('punchline').innerHTML = String(data.body[0].punchline);
            }

        );
}
script>
div class="joke_api"
h1>Random Joke API:/h1
div class="joke_api_fields">
    p id="setup">/p>
    p id="punchline">/p>
    button onclick="get_random_joke()">Try It/button>
/div>
        </pre>
        <div class="joke_api">
            <h1>Random Joke API:</h1>
            <div class="joke_api_fields">
                <p id="setup"></p>
                <p id="punchline"></p>
                <button onclick="get_random_joke()">Try It</button>
            </div>
        </div>
    </div>
    <div class="event_listener">
        <h1>Event Listener</h1>
        <pre>
p id="counter_display">Im a counter/p>
button id="counter_button">Make me count+1/button>

script>
    let counter = 0;
    function count() {
    document.getElementById('counter_display').innerHTML = ++counter;}

    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('counter_button').onclick = count;
    });
/script>
        </pre>
        <p id="counter_display">Im a counter</p>
        <button id="counter_button">Make me count+1</button>
    </div>
    <div class="data_attributes">
        <h1>Data Attributes</h1>
        <pre>
script
    document.addEventListener('DOMContentLoaded', function()
    {
        document.querySelectorAll(".color_button").forEach(function(button)
        {
            button.onclick = function() {
            document.querySelector("#color_changer").style.color = button.dataset.color;
        }
    });
    });
/script

h1 id="color_changer">i change color/h1>
button data-color="red" class="color_button">Red/button>
button data-color="blue" class="color_button">Blue/button>
button data-color="green" class="color_button">Green/button>

        </pre>
        <h2 id="color_changer">i change color</h2>
        <button data-color="red" class="color_button">Red</button>
        <button data-color="blue" class="color_button">Blue</button>
        <button data-color="green" class="color_button">Green</button>
    </div>
    <div class="animations">
        <h1>Animations</h1>
        <pre>
@keyframes animation{
    0% {background-color:red;}
    25% {background-color:yellow;}
    50% {background-color:blue;}
    75% {background-color:green;;}
    100% {background-color:red;}
}

.animated {
    width: 30px; height: 30px;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
div class="animated">
        p>Im animated/p>
/div
        </pre>
        <div class="animated">
            <p>Im animated</p>
        </div>
    </div>
    <div class="access_entities">
        <h1>Access_entities</h1>
        <pre>
path('edita/>int:blog_post_id>', views.edita_blog_post_view, name='edita'),

a class="edit_btn" href="{ url 'edita' blog_post.id }>Edit/a>

@login_required
def edita_blog_post_view(request, blog_post_id):
    blog_post = Blog_Post.objects.get(id=blog_post_id)
    form = BlogPostForm(request.POST or None, request.FILES, instance=blog_post)

    if form.is_valid():
        form.save()
        return HttpResponseRedirect(reverse('blog'))

    context = {'form': form, 'blog_post_id': blog_post_id}
    return render(request, 'portfolio/edita.html', context)
        </pre>
    </div>
</div>
</body>
</html>