.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  gap: 4% 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav"
    "about"
    "footer";

  background-image: url("/static/portfolio/images/paralax.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

body{
  background-image: url("/static/portfolio/images/paralax.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

/* nav section */
.nav {  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo nav_links_area";
  grid-area: nav;
  background-color:white;
}
.nav_links_area {
  grid-area: nav_links_area;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  padding: 5px 10px;
}

.nav_links_area a{
  padding:15px;
  text-decoration:none;
  color:black;
  border-color:black;
  border-style:solid;
  border-radius: 20px;
  margin-left: 10px;
}

.nav_links_area a:hover{
  color:white;
  background-color:#20b6ba;
}

/*nav section */

.logo {
  grid-area: logo;
  justify-content: center;
  font-size: 20px;
}

.about {
border-radius: 20px;
grid-area: about;
font-size: 30px;
margin:30px;
background-color:#20b6ba;
 }

.about h1{
  box-shadow: 0px 4px 1px black;


}

.about *{
  padding: 4px;
}

.images {
  display: flex;

 }

.images *{
  text-align:center;
width: 600px;
height: 400px;
}

.video_area video{
  width:600px;
}

.footer {
grid-area: footer;
background-color:#2f3333;
color:white;
height:auto;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}


html, body , .container {
  height: 100%;
  margin: 0;
}





