.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 4% 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav"
    "projects"
    "footer";

}

body{
  background-image: url("/static/portfolio/images/paralax.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

/* nav section */
.nav {  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo nav_links_area";
  grid-area: nav;
  background-color:white;
}
.nav_links_area {
  grid-area: nav_links_area;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  padding: 5px 10px;
}

.nav_links_area a{
  padding:15px;
  text-decoration:none;
  color:black;
  border-color:black;
  border-style:solid;
  border-radius: 20px;
  margin-left: 10px;
}

.nav_links_area a:hover{
  color:white;
  background-color:#20b6ba;
}

/*nav section */

.logo {
  grid-area: logo;
  justify-content: center;
  font-size: 20px;
}


.footer {
grid-area: footer;
background-color:#2f3333;
color:white;
height:60px;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}


html, body , .container {
  height: 100%;
  margin: 0;
}

.projects {
grid-area: projects;
font-size: 30px;
margin:40px;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "project_description"
    "project_languages"
    "project_topics"
    "project_end";

  margin:25px;
  box-shadow: 40px 40px 40px black;
  background-color: white;
  border-radius: 40px;
}


.project_title{
    grid-area: title;
    padding:2px;
}

.project_description{
    grid-area: project_description;
    padding:10px;
    word-wrap: break-word;
    width: 1000px;
}

.project_languages{
    grid-area: project_languages;
}

.project_topics{
    grid-area:project_topics;
    display: flex;
    flex-flow: column;
    margin:5px;
    border: 10px solid white;
    border-radius: 40px;
}

.project_topic img{
  width:700px;
  height:auto;
  padding:10px;
}

.project_topic p{
  word-wrap: break-word;
  }

.project_end{
    grid-area:project_end;
}




