h1 {
color:blue;
}

.grid {
display:grid;
grid-template-areas:
'section_0 section_0 section_0'
'section_1 section_1 section_2'
'section_1 section_1 section_3';
gap:10px;
padding:5px;

background-color:grey;
width:auto;
height:0.5fr;
}

.section_0 {
grid-area: section_0;
background-color:red;
}

.section_1 {
grid-area: section_1;
background-color:yellow;
}

.section_2 {
grid-area: section_2;
background-color:purple;
}

.section_3 {
grid-area: section_3;
background-color:green;
}

/* Flex */
.flex_box{
display:flex;
flex-direction:row;
flex-wrap:wrap;
background-color:grey
}

.flex_box *{
background-color:blue;
padding:10px;
margin:5px;
}

.flex_box :nth-child(2n) {
  background-color: lime;
}

@keyframes animation{
    0% {background-color:red;}
    25% {background-color:yellow;}
    50% {background-color:blue;}
    75% {background-color:green;;}
    100% {background-color:red;}
}

.animated {
    width: 30px; height: 30px;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Responsive */

* {
  box-sizing: border-box;
}

@media(max-width:600px){
    * {font-size:8px;}
}
pre {
word-break: break-all;
}

/* extras */
.grid_subject{
display:flex;
flex-direction:row;
flex-wrap:wrap;
}

.link{
padding:5px;
margin:20px;
}


.css{
width:0.3fr;
}

.html{
width:0.5fr;
}

.flex_subject{
display:flex;
flex-direction:row;
flex-wrap:wrap;
}

.flex_css{
width:0.3fr;
}

.flex_html{
width:0.3fr;
}